on:
  push:
    branches: ["master"]
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - python-version: "3.10"
            django-version: "4.2"
            include-codecov: false
          - python-version: "3.11"
            django-version: "4.2"
            include-codecov: false
          - python-version: "3.12"
            django-version: "4.2"
            include-codecov: false
          - python-version: "3.13"
            django-version: "5.2"
            include-codecov: true
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
    
      - name: Create and activate venv
        run: |
          python -m venv ~/.venv
          source ~/.venv/bin/activate
          pip install -U pip 'setuptools>=61'
    
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gdal-bin libgdal-dev
          source ~/.venv/bin/activate
          CPLUS_INCLUDE_PATH=/usr/include/gdal C_INCLUDE_PATH=/usr/include/gdal pip install --no-build-isolation 'gdal==3.8.4'
          pip install django==${{ matrix.django-version }}
          pip install -e .
          pip install black isort flake8 twine pyright codecov coverage build

      - name: Run tests
        run: |
          source ~/.venv/bin/activate
          black --check .
          flake8 --extend-ignore=E501 .
          isort --check-only --diff geowidgets tests
          pyright .
          python -m build
          twine check dist/*
          coverage run --omit="_version.py" -m unittest -v
          coverage json

      - name: Upload coverage to Codecov
        if: matrix.include-codecov == true
        uses: codecov/codecov-action@v4
